.loader {
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    border: 5px solid #fbe0dc;
    border-top: 5px solid #ff868e;
    animation: rotate 1s infinite ease-in-out;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}