@import 'src/styles/variables';

.container {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: auto;
}


.btn {
    padding: 10px;
    background: $grey;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
