//Colors

$primary: #fbe0dc;
$primaryDeep: #FF868E;
$grey: #F8F8F7;
$white: #FFF;
$success: #97eab9;
$warning: #ffd280;
$purple: #B4B7FF;
$dark-grey: #8c8c8c;
$light-grey: #C4C4C4;
$black: #1D1D1D;

//Font-size

$extra-large-size: 44px;
$large-size: 36px;
$regular-size: 20px;
$small-size: 16px;
$extra-small-size: 12px;


//Font-weight

$regular-weight: 400;
$bold-weight: 500;