* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
}

#root {
    height: 100vh;
}

.App {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 30px;
    background: #F8F8F7;
    min-height: 100%;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    //max-width: 680px;
    max-width: 800px;
}

.title {

}