.breadcrumb_wrapper {
    display: flex;
    gap: 10px;
}

.btn_back {
    padding: 10px 15px;
    background: #FBE0DC;
    border-radius: 10px;
    border: none;
}

.breadcrumb {
    background: #FF868E;
    border-radius: 10px;
    padding: 5px 30px;

    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}