@import "src/styles/variables";

.container {
    background: $primary;
    border-radius: 20px;


    @media (max-width: 1200px) {
        display: none;
    }
}

.main_picture {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    height: auto;

    @media (min-width: 1200px) and (max-width: 1400px){
        top: 10%;
        bottom: 10%;
    }

    @media (min-width: 1401px) and (max-width: 1600px){
        top: 5%;
        bottom: 5%;
    }

    @media (max-width: 1200px) {
        display: none;
    }
}



