@import "src/styles/variables";

.container {
    background: $primary;
    border-radius: 20px;
}

.main_picture {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    height: auto;

    @media (min-width: 1201px) and (max-width: 1600px){
        top: 10%;
        bottom: 10%;
    }
}



