@import "src/styles/variables";

.container {
    width: 446px;
    height: 544px;
    border-radius: 20px;
    position: sticky;
    top: 0;

    @media (min-width: 1200px) and (max-width: 1400px){
        display: flex;
        flex-direction: column;
        justify-self: flex-start;
    }

    @media (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
}

.title_container {
    margin-top: 80px;
}

.title {
    font-weight: $bold-weight;
    font-size: $extra-large-size;
    line-height: 58px;
    color: $black;
}

.title_sm {
    font-weight: $bold-weight;
    font-size: $regular-size;
    line-height: 29px;
    color: $black;
}

.subtitle {
    font-weight: $regular-weight;
    font-size: $regular-size;
    line-height: 29px;
    color: $dark-grey;
}

.links_container {
    margin-top: 60px;
}

.nav_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
}

.nav_container {
    display: flex;
    flex-direction: column;
    width: 138px;
    height: 244px;
    text-decoration: none;

    &:hover {
        .nav_card {
            border-color: $white;
        }

        .nav_btn {
            background-color: $primary;
        }
    }
}

.nav_card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 198px;
    border: 4px solid rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    transition: 0.3s ease-out;
}

.card_voting {
    background: $purple;
}

.card_breeds {
    background: $success;
}

.card_gallery {
    background: $warning;
}

.nav_btn {
    width: 100%;
    background: $white;
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.3s ease-out;
}

.btn_title {
    font-style: normal;
    font-weight: $bold-weight;
    font-size: $extra-small-size;
    line-height: 16px;

    text-align: center;
    letter-spacing: 2px;

    color: $primary-deep;
    text-transform: uppercase;
    margin: 10px 0;
    transition: .3s;
}

.active {
    .nav_card {
        border-color: $primary !important;
    }

    .nav_btn {
        background-color: $primary-deep !important;
    }

    .btn_title {
        color: $white;
    }
}


.disable {
    display: none;
}