@import 'src/styles/variables';

.content_wrapper {
    width: 680px;
    margin-top: 10px;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 20px;
}

.control_panel {
    display: flex;
    gap: 9px;
}

.breed_id {
    background: #FF868E;
    border-radius: 10px;
    padding: 5px 20px;

    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    text-align: center;
    letter-spacing: 2px;

    color: #FFFFFF;
}

.breed_container {
    margin-top: 50px;
    border: 2px solid $primary;
    border-radius: 20px;
    position: relative;
}

.breed_image {
    display: flex;
    max-height: 360px;
    max-width: 100%;
    border-radius: 20px;
    margin: 20px auto;
}

.breed_header {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 20px;
    top: -30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5px 40px;
    width: fit-content;
}

.breed_title {

    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 52px;

    color: #1D1D1D;
}

.breed_subtitle {
    font-family: 'Jost',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;

    color: #8C8C8C;
}

.breed_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    margin: 75px 60px 40px;

    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;

    color: #1D1D1D;
}

.breed_info span {
    width: 100%;
}

.breed_text {
    color: #8C8C8C;
    display: inline-block;
}