@import "src/styles/variables";

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 680px;
}

/*.header:first-child {*/
/*    margin-right: 10px;*/
/*}*/

.search_bar {
    display: flex;
    padding: 10px 20px;
    width: 470px;
    background: #FFFFFF;
    border-radius: 20px;
    gap: 10px;
}

.search_input {
    width: 100%;
    border: none;

    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8C8C8C;
}

.search_btn {
    display: flex;
    background-color: $primary;
    color: #ff868e;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
    gap: 10px;
    letter-spacing: 2px;
    line-height: 16px;
    padding: 10px;
    transition: .3s;
}

.reaction_link {
    display: flex;
    align-items: center;
    padding: 15px;
    background: #FFFFFF;
    border-radius: 20px;
    border: none;
}