@import "src/styles/variables";

.content_wrapper {
    width: 680px;
    margin-top: 10px;
    padding: 20px;
    background: $white;
    border-radius: 20px;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: 1fr 1fr 1fr;*/
    gap: 15px;
    /*grid-template-areas:*/
    /*"div1 div2 div3"*/
    /*"div1 div5 div5"*/
    /*"div4 div5 div5";*/
    margin-top: 20px;
}

.container {
    height: 140px;
    text-align: center;
    position: relative;
    cursor: pointer;
    background-color: $light-grey;
    border-radius: 20px;
}


.image {
    width: 100%;
    height: inherit;
    border-radius: 20px;
    object-fit: cover;
}

.noItem {
    background-color: $grey;
    border-radius: 10px;
    color: $dark-grey;
    margin-top: 20px;
    padding: 18px 20px;
}