.content_wrapper {
    width: 680px;
    margin-top: 10px;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 20px;
}

.control_panel {
    display: flex;
    gap: 9px;
}

.select {
    width: 226px;
    padding: 8px 10px;

    background: #F8F8F7;
    border-radius: 10px;
    border: none;

    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #8C8C8C;
}

.select_limit {
    width: 100px;
}

.sorting_btn {
    padding: 10px;
    background: #F8F8F7;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    grid-template-areas:
    "div1 div2 div3"
    "div1 div5 div5"
    "div4 div5 div5";
    margin-top: 20px;
}

.grid_container > div {
    background-color: #C4C4C4;
    border-radius: 20px;
}