@import 'src/styles/variables';

.content_wrapper {
    width: 680px;
    margin-top: 10px;
    padding: 20px;
    background: $white;
    border-radius: 20px;
}

.control_panel {
    display: flex;
    gap: 9px;
}

.select {
    width: 226px;
    padding: 8px 10px;

    background: $grey;
    border-radius: 10px;
    border: none;

    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: $regular-weight;
    font-size: $small-size;
    line-height: 24px;

    color: $dark-grey;
}

.select_limit {
    max-width: 120px;
}

.sorting_btn {
    padding: 10px;
    background: $grey;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: 1fr 1fr 1fr;*/
    gap: 15px;
    /*grid-template-areas:*/
    /*"div1 div2 div3"*/
    /*"div1 div5 div5"*/
    /*"div4 div5 div5";*/
    margin-top: 20px;
}