@import 'src/styles/variables';

.control_panel {
    display: flex;
    width: 100%;
    gap: 9px;

    div {
        display: flex;
        gap: 10px;
    }

    @media (max-width: 650px) {
        flex-direction: column;
    }
}

.select_limit {
    max-width: 120px;
}

.sorting_btn {
    padding: 10px;
    background: $grey;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: 1fr 1fr 1fr;*/
    gap: 15px;
    /*grid-template-areas:*/
    /*"div1 div2 div3"*/
    /*"div1 div5 div5"*/
    /*"div4 div5 div5";*/
    margin-top: 20px;
    width: 100%;

    @media (max-width: 650px) {
        grid-template-columns: 1fr;
        width: auto;
    }
}