@import 'src/styles/variables';

.reaction_list {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 10px;
}

.reaction_item {
    display: flex;
    align-items: center;
    padding: 18px;
    background: $grey;
    border-radius: 10px;
}

.reaction_time {
    margin-right: 10px;
    padding: 3px 10px;
    background: $white;
    border-radius: 5px;

    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: $regular-weight;
    font-size: $small-size;
    line-height: 24px;

    color: $black;
}

.reaction_info {
    width: 100%;
    color: $dark-grey;

    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: $regular-weight;
    font-size: $small-size;
    line-height: 24px;
}